{% extends 'front/index.html.twig' %}
{% block title %}
    <title>Hello RegisterController!</title>{% endblock %}

<li ><a  href="" data-toggle="modal" data-target="#modalRequest"><span>Medecin</span></a>
{% endblock %}
