<!DOCTYPE html>
<html>
<head>
    <title>Cours Complet Bootstrap 4</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <h1>Formulaires</h1>
    <form>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>
        </div>
    </form>
    <button> save</button>

</div>
</body>
</html>