{% extends 'base.html.twig' %}

{% block title %}Edit Enligne{% endblock %}

{% block body %}
    <h1>Edit Enligne</h1>

    {{ include('enligne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('enligne_index') }}">back to list</a>

    {{ include('enligne/_delete_form.html.twig') }}
{% endblock %}
