{{ form_start(form) }}

<label for="inputText" class="col-lg-1 col-form-label">Text </label>{{ form_widget(form.text) }}

<br></br><button type="btn" class="btn btn-outline-success">Save</button>
<br></br>
{{ form_end(form) }}
