{% extends 'baserdv.html.twig' %}

{% block title %}New Enligne{% endblock %}

{% block body %}
    <h1>Create new Enligne</h1>

    {{ include('enligne/_form.html.twig') }}

    <a href="{{ path('enligne_index') }}">back to list</a>
{% endblock %}
